{% extends 'base.html' %}
{% block conteudo %}
    <h1>Criar Autor</h1>
    <form action="/autores/salvar/" method="post">
        {% csrf_token %}
        <label>Nome do Usuário:</label>
        <input name="nome_autor" type="text">
        <br><br>
        <label>CPF:</label>
        <input name="cpf_autor" type="text">
        <br><br>
        <label>email:</label>
        <input name="email_autor" type="text">
        <br><br>
        <label>Telefone:</label>
        <input name="telefone_autor" type="text">
        <br><br>
        <label>Senha:</label>
        <input name="senha_autor" type="password">
        <br><br>
        <label>Escolaridade:</label>
        <input name="escolaridade_autor" type="text">
        <br><br>
        <label>Descricao:</label>
        <input name="descricao_autor" type="text">
        <br><br>
        <br><br>
        <button type="submit" class="btn btn-sucess" role="button">Salvar</button>
    </form>
{% endblock %}

