{% extends 'base.html' %}
{% block conteudo %}
{% csrf_token %}

<h1>Lista de Autores</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Nome</th>
        <th scope="col">Escolaridade</th>
    </tr>
    </thead>
    <tbody>
    {% for autor in autores %}
    <tr>
        <th scope="row">{{autor.id}}</th>
        <td>{{autor.nome}}</td>
        <td>{{autor.escolaridade}}</td>
        <td><a class="btn btn-primary" role="button" href="/noticias/editar">Editar</a>
            <a class="btn btn-danger" role="button" href="/noticias/excluir/{{noticia.id}}">Excluir</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<a class="btn btn-primary" role="button" href="/autores/add">Novo Autor</a>
{% endblock %}