{% extends 'base.html' %}
{% block conteudo %}
<h1>Editar Categoria</h1>
<form action="categorias/editar/categoria/editar_categoria_salvar/{{ categoria.id}}" method="post">
  {% csrf_token %}
  <label>Titulo da categoria</label>
  <input name="titulo_categoria" value="{{categoria.titulo}}" type="text">
  <br><br>
  <label>Descricao Categoria:</label>
  <br><br>
  <textarea name="descricao_categoria" rows="4" cols="50">
    {{categoria.descricao}}
  </textarea>
  <br><br>
  <button type="submit" class="btn btn-success" role="button">Salvar</button>
</form>
{% endblock %}