{% extends 'base.html' %}
{% block conteudo %}
<h1>Editar Noticia</h1>
<form action="/noticia/editar_noticia_salvar/{{noticia.id}}" method="post">
  {% csrf_token %}
  <label>Titulo Noticia</label>
  <input name="titulo_noticia" value="{{noticia.titulo}}" type="text">
  <br><br>

  <label>subtitulo:</label>
  <input name="subtitulo_noticia" value="{{noticia.subtitulo}}" type="text">
  <br><br>

  <label>Descricao:</label>
  <textarea name="descricao_noticia" rows="4" cols="50">
    {{noticia.descricao}}
  </textarea>
  <br><br>

  <label>Data</label>
  <input name="data_noticia" value="{{noticia.data}}" type="date">
  <br><br>

  <label>categoria:</label>
  <select name="categoria">
    {% for categoria in categorias %}
    <option value="{{categoria.id}}">{{categoria.titulo}}}</option>
    {% endfor %}
  </select>
  <br><br>

  <label>Autor:</label>
  <select name="autores">
    {% for autor in autores %}
    <option value="{{autor.id}}">{{autor.nome}}}</option>
    {% endfor %}
  </select>
  <br><br>

  <button type="submit" class="btn btn-success" role="button">Salvar</button>


</form>

{% endblock %}