{% extends 'base.html' %}
{% block conteudo %}
    <h1>Insere</h1>
    <form action="/home/function/insert" method="post">
    {% csrf_token %}
    <label>Id</label>
    <input  id = "cod" name="cod" type="number">
    <br><br>
    <label>Nome</label>
    <input name="nome" type="text">
    <br><br>
    <label>Cpf</label>
    <input  name="cpf" type="text">
    <br><br>
    <label>Cidade</label>
    <input  name="cidade" type="text">
    <br><br>
    <button type="submit" class="btn btn-sucess" role="button">Inserir Procedure</button>
{% endblock %}
